<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <meta charset="UTF-8">
        <title>Alerts</title>
    </head>
    <body>
        <div id="app" class="container">
            <input v-model="id" placeholder="ID">
            <input v-model="ticket" placeholder="Ticket">
            <input v-model="title" placeholder="Titulo">
            <input v-model="message" placeholder="Mensaje">


            <hr>
            <button @click="cargar">Cargar</button>
            <button @click="created">Guardar</button>
            <button @click="eliminar">Eliminar</button>

            <p>Ticket: {{ ticket }}</p>
            <p>Titulo: {{ title }}</p>
            <p>Mensaje: {{ message }}</p>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    id: '',
                    title: '',
                    message: '',
                    ticket: '',
                    result: ''
                },
                methods: {
                    eliminar: function(){
                        axios.get('https://10.5.119.19/forma2/api/v1.0/alerts.php', {
                            params: {
                                accesstoken: 'YWRtaW4ubWFzdGVyfDEyMzQ1Njc4OTB8MjAxOC0wNi0wNyAxMzoxOToxNA==',
                                action: 'delete',
                                id: this.id
                            }
                        })
                        .then(function (response) {
                            alert(response.data.message);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    },
                    cargar: function(){
                        axios.get('https://10.5.119.19/forma2/api/v1.0/alerts.php', {
                            params: {
                                accesstoken: 'YWRtaW4ubWFzdGVyfDEyMzQ1Njc4OTB8MjAxOC0wNi0wNyAxMjo0NDoxNQ==',
                                action: 'view',
                                id: this.id
                            }
                        })
                        .then((response)  =>  {
                            var data = response.data.data
                            if(response.data.error === false){
                                this.id = data.id;
                                this.ticket = data.ticket;
                                this.title = data.title;
                                this.message = data.message;
                            }else{
                                alert(response.data.message)
                            }
                        }, (error)  =>  {
                            console.log('Error: ' + error);
                        });
                    },
                    created: function(){
                        axios.get('https://10.5.119.19/forma2/api/v1.0/alerts.php', {
                            params: {
                                accesstoken: 'YWRtaW4ubWFzdGVyfDEyMzQ1Njc4OTB8MjAxOC0wNi0wNyAxMjo0NDoxNQ==',
                                action: 'change',
                                id: this.id,
                                title: this.title,
                                message: this.message,
                                ticket: this.ticket
                            }
                        })
                        .then(function (response) {
                            alert(response.data.message);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                    }
                }
            });
        </script>
    </body>
</html>