<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <meta charset="UTF-8">
        <title>Alerts</title>
    </head>
    <body>
        <div id="app" class="container">
            <input v-model="id" placeholder="ID">
            <button @click="created">Eliminar</button>

            <p>Ticket: {{ id }}</p>
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    id: 0
                },
                methods: {
                    created: function(){
                        axios.get('https://10.5.119.19/forma2/api/v1.0/alerts.php', {
                            params: {
                                accesstoken: 'YWRtaW4ubWFzdGVyfDEyMzQ1Njc4OTB8MjAxOC0wNi0wNyAxMzoxOToxNA==',
                                action: 'delete',
                                id: this.id
                            }
                        })
                        .then(function (response) {
                            alert(response.data.message);
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }
                }
            });
        </script>
    </body>
</html>

