<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
        <meta charset="UTF-8">
        <title>Alerts</title>
    </head>
    <body>
        <div id="app" class="container">
            <h1> Alertas </h1>
            <h2> Lista </h2>
            <ul>
                <li v-for="alert in alerts"> {{ alert.id }} - {{ alert.ticket }} - {{ alert.title }} - {{ alert.message }} </li> 
            </ul> 
        </div>
        <script>
            new Vue({
                el: '#app',
                data: {
                    alerts: []
                },
                created: function(){
                    axios.get('https://10.5.119.19/forma2/api/v1.0/alerts.php', {
                        params: {
                            accesstoken: 'Zm9ybWEyLm1hc3RlcnwxMXwyMDE4LTA2LTA3IDEwOjA5OjI1',
                            action: 'view'
                        }
                    })
                    .then((response)  =>  {
                        var data = response.data
                        if(data.error === false){
                            this.alerts = response.data.data;
                        }
                    }, (error)  =>  {
                        console.log('Error: ' + error);
                        this.alerts = [];
                    });
                }
            });
        </script>
    </body>
</html>